repros/07-loop-first-item-only/workflows/three-keys-error.json
{
  "name": "Repro 07 — \"Input values have N keys\" error",
  "nodes": [
    {
      "parameters": {
        "content": "## REPRO 07 — \"Input values have N keys\" error\n\nClick **Test workflow**. The execution will halt at `Single-Key Validator` with this exact error:\n\n```\nInput values have 3 keys, you must specify an input key or pass only 1 key as input\n```\n\n---\n\n### Where this error really comes from\n\nThis Code node simulates a check that several real n8n nodes perform internally. Any of these will throw the same error when fed multi-field items:\n\n- **Execute Sub-Workflow Trigger** in single-key input mode\n- **AI Agent / Tools** nodes (LangChain wrappers expect a single `input` field)\n- **Aggregate** node in *Aggregate Individual Fields* mode without a field specified\n\nWe simulate it with a Code node here so the repro is self-contained — no sub-workflow to wire up, no external API key needed.\n\n---\n\n### The shape that breaks it\n\nLook at `Generate 3 Multi-Field Leads` — each item has **3 JSON keys**: `id`, `name`, `email`. Multi-key items break any node that wants \"the input value\" because there's no way for it to pick which key counts.\n\n---\n\n### The fix (see the sticky below the chain)\n\nDrop a **Set** node before the receiver. Wrap the multi-field object under a single key. Each item now has 1 key whose value is the original object — receiver accepts it.",
        "height": 600,
        "width": 540
      },
      "id": "aa11bb22-cc33-4dd4-ee55-ff6677889900",
      "name": "About this workflow",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-180, -260]
    },
    {
      "parameters": {},
      "id": "bb22cc33-dd44-4ee5-ff66-778899001122",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 420]
    },
    {
      "parameters": {
        "jsCode": "// Three leads, each with THREE JSON keys: id, name, email.\n// This shape is fine for almost every n8n node — but it will trip up\n// any node that requires single-key input.\n\nreturn [\n  { json: { id: 1, name: \"Acme Corp\",         email: \"founder@acme.test\" } },\n  { json: { id: 2, name: \"Globex Industries\", email: \"ops@globex.test\"   } },\n  { json: { id: 3, name: \"Initech Systems\",   email: \"it@initech.test\"   } }\n];\n"
      },
      "id": "cc33dd44-ee55-4ff6-7788-990011223344",
      "name": "Generate 3 Multi-Field Leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 420]
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────────────────────\n// SIMULATED single-key validator.\n//\n// This is what the following nodes do internally:\n//   - Execute Sub-Workflow Trigger (single-key mode)\n//   - AI Agent / Tools nodes (LangChain expects a single 'input' key)\n//   - Aggregate node in 'Aggregate Individual Fields' mode\n//     without a field specified\n//\n// They check Object.keys(item.json).length and throw if it's not 1.\n// We simulate that here so the repro is self-contained.\n//\n// HOW THE FIX LOOKS:\n//\n//   Generate 3 Multi-Field Leads   →   Set (reshape)   →   Validator\n//        (3 keys per item)             (1 key: 'data')      (passes)\n//\n//   Set node config (Manual Mapping, in Run Once for Each Item):\n//     Field name:  data\n//     Field type:  Object\n//     Field value: ={{ $json }}\n//\n//   After that, each item is { json: { data: { id, name, email } } } —\n//   one top-level key, exactly what the validator wants.\n// ─────────────────────────────────────────────────────────────\n\nconst items = $input.all();\n\nfor (const item of items) {\n  const keys = Object.keys(item.json);\n  if (keys.length !== 1) {\n    throw new Error(\n      `Input values have ${keys.length} keys, you must specify an input key or pass only 1 key as input`\n    );\n  }\n}\n\nreturn items;\n"
      },
      "id": "dd44ee55-ff66-4778-8990-011223344556",
      "name": "Single-Key Validator (simulates Sub-WF / AI Agent)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 420]
    },
    {
      "parameters": {
        "content": "### What you should observe\n\nWhen you click **Test workflow**:\n\n| Node | Result |\n|---|---|\n| `Generate 3 Multi-Field Leads` | ✓ outputs 3 items |\n| `Single-Key Validator` | ✗ throws *\"Input values have 3 keys, ...\"* |\n\nThe validator node will be highlighted in red. Click it and open the **Error** tab to see the message verbatim — it's exactly what users on the n8n forum report.\n\n---\n\n### Apply the fix in 30 seconds\n\n1. Right-click `Single-Key Validator` → **Insert before** → search **Edit Fields (Set)** → add it.\n2. Configure the Set node in *Manual Mapping* mode:\n   - **Field name:** `data`\n   - **Field type:** Object\n   - **Field value:** `={{ $json }}`\n3. Toggle **Include Other Input Fields:** off (so only `data` ends up in the output).\n4. Run again — validator passes; you've reshaped 3 keys → 1 key without losing the original data.\n\n---\n\n### Where you'd hit this for real\n\n- Wiring an **AI Agent** node and getting *\"Input values have N keys\"* on first run — fix is to either reshape with Set, or set the Agent's *Prompt* parameter to a specific field reference.\n- Calling an **Execute Sub-Workflow** where the sub-workflow's trigger is in single-key mode — same reshape fix.\n- Using **Aggregate** in *Individual Fields* mode without selecting a field — pick the field to aggregate, or reshape upstream.",
        "height": 540,
        "width": 660
      },
      "id": "ee55ff66-7788-4990-0112-233445566778",
      "name": "What to observe & how to fix",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [240, 720]
    }
  ],
  "connections": {
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "Generate 3 Multi-Field Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate 3 Multi-Field Leads": {
      "main": [
        [
          {
            "node": "Single-Key Validator (simulates Sub-WF / AI Agent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "tags": []
}
